.side-main
  .side-main__header
    .side-main__header__box
      .side-main__header__box__username
        masa
      .side-main__header__box__icon
        = link_to "#", class: "side-main__header__box__icon__btn" do
          = icon('fas', 'fas fa-edit', class: 'side-main__header__box__icon__btn')
        = link_to "#", class: "side-main__header__box__icon__btn" do
          = icon('fas', 'fas fa-cog', class: 'side-main__header__box__icon__btn')
  .side-main__groups
    .side-main__groups__group
      .side-main__groups__group__name
        techcamp
      .side-main__groups__group__message
        まだメッセージがありません。
